.item_todo {
  width: 79%;
  margin: 0 auto;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #155173;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  .item_update_todo {
    width: 50%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #155173;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}
